@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#EDF2F7] text-textLight dark:bg-primaryDark dark:text-textDark;
    }
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #ff0000;
}

#nprogress .bar {
    background: green;
}

#nprogress .spinner-icon {
    border-top-color: green;
    border-left-color: green;
}
